{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		.btn {
			height: 80px;
			line-height: 80px;
			width: 80px;
			font-size: 2em;
			font-weight: bold;
			border-radius: 50%;
			background-color: white;
			color: black;
			text-align: center;
			cursor: pointer;
		}
		
	</style>

	<script type="text/javascript" canvas="canvas">
		
	</script>
</head>
<body>

	<h1>Kick St-Art Your Day!</h1>
	<div id = "purple-box"></div>
	<text>~ A good beginning makes a good blending ~</text>
	<div class = "btn saved">
		
		<text>SAVED</text>
	</div>
	<form>
		<input class = "btn new" type = "button" onclick="window.location.href = 'demo';" value="+"/>
		<text>Create New</text>
	</form> 
	<div class = "btn completed">
		
		<text>COMPLETED</text>
	</div>
	<h3>Work-in-Progress</h3>
	<div class = "row">
		<img class = "one" src = "">
		<img class = "two" src = "">
		<img class = "three" src = "">
		<img class = "four" src = "">
	</div>

</body>
</html>
