{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		
	</style>

	<script type="text/javascript" canvas="canvas">
		
	</script>
</head>
<body>

	<h1>Kick St-Art Your Day!</h1>
	<div id = "purple-box"></div>
	<text>~ A good beginning makes a good blending ~</text>
	<div class = "saved">
		
		<text>SAVED</text>
	</div>
	<h3>Work-in-Progress</h3>

	


</body>
</html>
