	{% load static %}

	<!DOCTYPE html>
	<html>
		
			<head>
			<!-- Load the Paper.js library -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.5/paper-full.js"></script>
			<!-- Define inlined PaperScript associate it with myCanvas -->
			<script type="text/paperscript" canvas="myCanvas">
				//pencil feature
			
			

				function onMouseDown(event) {
					path = new Path();
					path.strokeColor = '#00000';
					path.strokeWidth = 2;
					path.add(event.point);
				}

				function onMouseDrag(event) {
					path.add(event.point);
				}
		
			</script>

			<script></script>
			</head>
			<body>
				<canvas id="myCanvas" width = "1200" height = "750"></canvas>
				<button onclick = myFunction() id = "pencil">pencil</button>
				
				<script>
					function myFunction() {
					  document.getElementById("demo").innerHTML = "Hello World";
					}
					</script>
				<button id = "eraser">eraser</button>
			</body>
			</html>
	</html>	